[Unit]
Description=Garage
After=network.target

[Service]
ExecStart=/home/pi/.local/bin/supervisord -n -c supervisord.conf
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target